@charset "UTF-8";

#button{
	width:1200px;
}

#buttonBox{
	display:flex;
	margin:30px 0px;
	border:solid 1px black;
	text-align:left;
	height:300px;
	line-height:200px;
	border-radius:20px;
	padding:10px
}

#btn{
	font-size:30px;
	border:solid 1px grey;
	border-radius:5px;
	background-color:#FFFFF8;
	width:260px;
	height:100px;
	text-align:center;
	margin-top:100px;
}

#random{
	margin:0;	
}

#random img{
	width:500px;
	height:300px;
	border-radius:20px;	
}
