footer{
 clear:both;
 background-color:white;
 }
.footer #companyInfo {
   width: 1280px;
   vertical-align: middle;
   text-align: center;
   position: relative;
   padding-left: 30px;
   padding-right: 30px;
   margin: 0 auto;
}
.footer #companyInfo img{
   margin-top:50px;
   text-align: center;
   width: 1000px;
   height:200px;
}
