#fruSearchFrm{
	margin:30px;
}

#type{
	margin-left:0px;
	height: 40px;
    padding: 4px 6px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #666;
    display:none;
}

#result-title{
	 font-size: 25px;
	 color: #f47622;
}