
@charset "UTF-8";


/*기본 설정 : 리스트 스타일 풀고 a태그 데코레이션 없앰*/
ul{
    padding:0px;
}

li{
    list-style: none;
}

a{ 
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
}

header{
	background-color:white;
	position: sticky; left: 0; top: 0; width: 100%;
  	z-index: 10;
}

.nev-menu,
.header-menu{
    display: flex;
    align-items: center;
    margin:0px 80px;
    margin-bottom:20px;
    padding-top: 20px;
}

.logo img{
    width: 180px;
}

.header-item li,
.logo{
    display: inline;
    padding: 10px 20px;
    color:gray;
    font-size: small;
}

.header-item i{
    margin-right: 10px
}
.header-item li:hover{
    color: olivedrab;
    font-weight: bold;
    transition: color 1s, weight 1s;
}

/*지금 들어와있는 페이지를 알려주기 위해 볼드처리*/
.focus li{
    color: #000;
    font-weight: bold;
}

/*제철 과일 선택하면 선택됐다는 표시로 볼드처리*/
.select-dropdown{
    font-weight: bold;
}

.input-search-word{
    height: 30px;
    width: 400px;
    border:3px solid gray;
    padding:3px 10px;
    border-radius:5px;
    
}
.input-search-word:focus{
    outline-color: #77af9c;
    transition: all 0.3s;
}

input:-internal-autofill-selected {
	background-color:none;
}

button.header-item{   
    height: 40px;
    width: 40px;
    background-color: gray;
    color: white;
    border:0px;
    padding:13px;
    border-radius:5px;
}

button.header-item:hover{
	cursor:pointer;
	background-color:#77af9c;
    transition: all 0.3s;
}

#subMenuItem1 {
    position:absolute;
    padding: 10px 0px;
    background-color: white;
    border: 1px solid;
    top:5%;
    left:19%;
    z-index:2;
}
#subMenuItem1 div{
    padding: 10px 25px;
    align-items: center;
    text-align: center;
}

/*드롭다운 메뉴 숨기는 css*/
.hidden{
    display: none;
}
#upBtnBox{
	position: fixed;
	bottom:5%;
	left:10%;
    z-index: 10;
}
#upBtn{
	width:45px;
	height:45px;
	color:white;
	background-color: #77af9c;
	border-radius:50%;
	border:none;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.shadow{
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
