@charset "UTF-8";


.header{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.header #category {
  float:left;
  list-style: none;
  padding: 0;
  margin: 0;
  width:40%;
}
.header #category li {
   float:left;
line-height: 60px;
  margin-left:40px;
}
 
.header #category li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 13px;
  font-weight: bold;
}
 
.header #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.header #menu li {
  float:left;
  line-height: 60px;
  margin-left:40px;
}
 
.header #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 13px;
  font-weight: bold;
}


h2  {
	 font-size : 25px;
	 text-align:center;
	 
}

.loginpage{
width: 500px;
top: 150%;
left: 28%;
border:1px solid #000;
border-radius:5px;
padding:30px;
box-shadow: 0 0 30px;
}


.loginpage h2 {
	border-bottom:10px solid #000;
	padding-bottom:20px;
	margin-bottom:40px;
	font-weight:20px;
	font-size:20px;
}

.loginpage >div{
	
	box-sizing:border-box;
	width:500px;
}

.login {
	background-color:#eee;
	padding :20px;
	border-radius:5px;
	box-shadow: 1px 1px lightgray;
}

.login label {
	font-weight:bold;
	font-size:1px;
}

.login input[type=text],
.login input[type=password] {
	display:block;
	width:95%;
	border-radius:5px;
	padding:7px 10px;
	border:1px solid;
	margin-bottom:10px;
}

.login input[type=checkbox]{
	vertical-align:middel
}

.login input[type=submit]{
		display:block;
	width:95%;
	border-radius:5px;
	padding:7px 10px;
	border:1px solid ;
	margin-bottom:10px;
}

login a:hover {
	opacity:0.8;
}