@charset "UTF-8";

/* slideShow.css */

#slideShow {
	position :relative;
	height:420px;
	line-height:420px;
	
}

#slideShowBox{
	width:1200px;
	height:500px;
	text-align:center;
	 overflow:hidden;   /*영역 벗어나면 숨김 */
}

#slidePanel {
	position:relative;
	width:6400px;
	height:500px;
}

.slideImage{
	float:left;
	width:1280px;
	height:480px;
}

/* prev / next 버튼 */

#prevNextButtonBox { position:relative; z-index:10;}
#prevButton{
	position:absolute;
	top:210px;
	left:10%;
	opacity:0.8;
	cursor:pointer;
	width:70px; 
	height:70px;
}

#nextButton{
	position:absolute;
	top:210px;
	right:10%;
	opacity:0.8;
	cursor:pointer;
	width:70px; 
	height:70px;
}

#prevButton:hover { opacity:1;}
#nextButton:hover { opacity:1;}

/* 컨트롤 버튼 */
#controlButtonBox { margin:0 auto; width:160px;}
#controlButtonBox img {float:left; margin:10px; width:10px; height:10px;}

 