<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.miniproject.dao.IChatDAO">
	  	<resultMap id="prdResult" type="com.miniproject.model.IChatVO" >
	  		<result property="memId"  column="memId"  />
	  		<result property="sender"  column="sender"  />
	  		<result property="sndImg"  column="sndImg"  />
	  		<result property="sendMsg"  column="sendMsg"  />
	  		<result property="sendDate"  column="sendDate"  />
	  	</resultMap>
		<!-- 메세지 DB에 저장(나중에 채팅방 들어가면 볼 수 있도록) -->
		<insert id="sendMessage" parameterType="com.miniproject.model.IChatVO">
		  	INSERT INTO product (memId, sender, sndImg, sendMsg)
		  	VALUES (#{memId}, #{sender}, #{sndImg}, #{sendMsg})
		</insert>
		
	</mapper>