@charset "UTF-8";

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 880px;
}

.main{
    display: flex;
    padding: 0px 30px;
    margin-top: 40px;
    height: 100%;
}

ul{
    padding:0px;
}

li{
    list-style: none;
}

a{ 
    text-decoration: none;
    color: black;
}
